<div
  class="d-flex flex-column align-items-center mb-5"
  routerLink="/product/{{ product.id }}"
>
  <img
    src="{{ product.url }}"
    style="
      list-style-type: none;
      width: 290px;
      padding: 20px;
      margin: 6px 6px;
      border: 1px solid #33b5e5;
    "
  />
  <h3>{{ product.name }}</h3>
  <p>$ {{ product.price }}</p>
  <form>
    <select class="custom-select pr-5 mb-3" id="inlineFormCustomSelect">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </form>
  <button class="btn btn-primary">Add to cart</button>
</div>
