<div class="d-flex flex-column align-items-center mb-5">
  <img
    src="{{ product.url }}"
    style="
      list-style-type: none;
      width: 290px;
      padding: 20px;
      margin: 6px 6px;
      border: 1px solid #33b5e5;
    "
    routerLink="/product/{{ product.id }}"
  />
  <h3>{{ product.name }}</h3>
  <p>$ {{ product.price }}</p>
  <select
    class="custom-select pr-5 mb-3 w-75"
    id="inlineFormCustomSelect"
    [(ngModel)]="quantity"
  >
    <option
      *ngFor="let value of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
      value="{{ value }}"
    >
      {{ value }}
    </option>
  </select>
  <button class="btn btn-primary" (click)="addProductToCart(product)">
    Add to cart
  </button>
</div>
