.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #33b5e5;
  .heading {
    text-align: center;
    color: #fff;
  }
  .sub-heading {
    text-align: center;
    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none !important;
      margin: 10px;
    }
  }
}
